# Stock Returns: Neural Network

Our objective in this chapter is to predict stock returns using dense feed-forward neural networks.  Specifically, we will try to predict the daily returns of MSFT from the returns of various correlated assets including stock indices, currencies, and other stocks.

We will begin by first reviewing our previous work in which we use linear regression and nearest neighbors to predict MSFT returns.

## Import Packages

Let's begin by importing the initial packages that we will need.

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as pdr
import sklearn

## Read-In Data

Next, let's read-in our data.  We will start the stocks, whose data we will get from Yahoo.

In [ ]:
stock_tickers = ['MSFT', 'IBM', 'GOOGL'] # define tickers
df_stock = pdr.get_data_yahoo(stock_tickers, start='2005-01-01', end='2021-07-31') # grab the data
df_stock = df_stock['Adj Close'] # select only the adjusted close price
df_stock.columns = df_stock.columns.str.lower() # clean-up column names
df_stock.rename_axis('trade_date', inplace=True) # clean-up index name
df_stock.rename_axis('', axis=1, inplace=True) # clean-up index name
df_stock

[*********************100%***********************]  3 of 3 completed

                 googl         ibm        msft
trade_date
2005-01-03    5.072823   53.707935   18.733006
2005-01-04    4.867367   53.131031   18.803051
2005-01-05    4.842593   53.021145   18.761021
2005-01-06    4.718468   52.856293   18.740004
2005-01-07    4.851101   52.625534   18.683964
...                ...         ...         ...
2021-07-26  134.035004  122.236855  283.364075
2021-07-27  131.899994  122.219727  280.903473
2021-07-28  136.093994  121.380669  280.589752
2021-07-29  135.777496  121.517654  280.864166
2021-07-30  134.726501  120.687180  279.305511

[4173 rows x 3 columns]

Next, we'll grab the currency data from FRED.

In [ ]:
currency_tickers = ['DEXJPUS', 'DEXUSUK']
df_currency = pdr.get_data_fred(currency_tickers, start='2005-01-01', end='2021-07-31')
df_currency = df_currency
df_currency.columns = df_currency.columns.str.lower()
df_currency.rename_axis('trade_date', inplace=True)
df_currency.rename_axis('', axis=1, inplace=True)
df_currency

            dexjpus  dexusuk
trade_date
2005-01-03   102.83   1.9058
2005-01-04   104.27   1.8834
2005-01-05   103.95   1.8875
2005-01-06   104.87   1.8751
2005-01-07   104.93   1.8702
...             ...      ...
2021-07-26   110.31   1.3829
2021-07-27   109.64   1.3884
2021-07-28   110.06   1.3884
2021-07-29   109.53   1.3966
2021-07-30   109.70   1.3913

[4325 rows x 2 columns]

Finally, we'll grab the index data Yahoo.

In [ ]:
index_tickers = ['SPY', 'DIA', '^VIX'] 
df_index = pdr.get_data_yahoo(index_tickers, start='2005-01-01', end='2021-07-31')
df_index = df_index['Adj Close']
df_index.columns = df_index.columns.str.lower().str.replace('^', '')
df_index.rename_axis('trade_date', inplace=True)
df_index.rename_axis('', axis=1, inplace=True)
df_index

[*********************100%***********************]  3 of 3 completed

                   dia         spy        vix
trade_date
2005-01-03   70.050148   84.258560  14.080000
2005-01-04   69.384392   83.228973  13.980000
2005-01-05   68.999321   82.654678  14.090000
2005-01-06   69.214645   83.074921  13.580000
2005-01-07   69.084099   82.955818  13.490000
...                ...         ...        ...
2021-07-26  337.707458  427.850830  17.580000
2021-07-27  336.948181  425.900787  19.360001
2021-07-28  335.737305  425.726135  18.309999
2021-07-29  337.140350  427.491821  17.700001
2021-07-30  335.852692  425.415771  18.240000

[4173 rows x 3 columns]

## Join and Clean Data

Now we can join together our price data and convert it into returns and differences (for VIX, as these are more stationary).  Notice that we are implicitly adding a time series component to our regression by adding lagged `msft` returns as a feature.

In [ ]:
df_data = \
    (
    df_stock
        .merge(df_index, how='left', left_index=True, right_index=True) # join currency data
        .merge(df_currency, how='left', left_index=True, right_index=True) # join index data
        .dropna()
        .assign(msft = lambda df: df['msft'].pct_change())   # percent change
        .assign(msft_lag_0 = lambda df: df['msft'].shift(0)) #
        .assign(msft_lag_1 = lambda df: df['msft'].shift(1)) #
        .assign(ibm = lambda df: df['ibm'].pct_change())     #
        .assign(googl = lambda df: df['googl'].pct_change()) #
        .assign(spy = lambda df: df['spy'].pct_change())     #
        .assign(dia = lambda df: df['dia'].pct_change())     #
        .assign(vix = lambda df: df['vix'].diff())           # absolute change
        .assign(dexjpus = lambda df: df['dexjpus'].pct_change()) # percent change
        .assign(dexusuk = lambda df: df['dexusuk'].pct_change()) #
        .dropna()
    )
df_data

,googl,ibm,msft,dia,spy,vix,dexjpus,dexusuk,msft_lag_0,msft_lag_1
trade_date,,,,,,,,,,
2005-01-05,-0.005090,-0.002068,-0.002235,-0.005550,-0.006900,0.110001,-0.003069,0.002177,-0.002235,0.003739
2005-01-06,-0.025632,-0.003109,-0.001120,0.003121,0.005084,-0.510000,0.008850,-0.006570,-0.001120,-0.002235
2005-01-07,0.028109,-0.004366,-0.002990,-0.001886,-0.001434,-0.090000,0.000572,-0.002613,-0.002990,-0.001120
2005-01-10,0.006242,-0.001044,0.004874,0.003402,0.004728,-0.260000,-0.005813,0.002620,0.004874,-0.002990
2005-01-11,-0.007793,-0.007107,-0.002612,-0.006404,-0.006891,-0.040000,-0.008627,0.002400,-0.002612,0.004874
...,...,...,...,...,...,...,...,...,...,...
2021-07-26,0.007668,0.010117,-0.002140,0.002396,0.002455,0.379999,-0.001900,0.005819,-0.002140,0.012337
2021-07-27,-0.015929,-0.000140,-0.008684,-0.002248,-0.004558,1.780001,-0.006074,0.003977,-0.008684,-0.002140
2021-07-28,0.031797,-0.006865,-0.001117,-0.003594,-0.000410,-1.050001,0.003831,0.000000,-0.001117,-0.008684
2021-07-29,-0.002326,0.001129,0.000978,0.004179,0.004147,-0.609999,-0.004816,0.005906,0.000978,-0.001117
2021-07-30,-0.007741,-0.006834,-0.005549,-0.003819,-0.004856,0.539999,0.001552,-0.003795,-0.005549,0.000978

## Training Set and Testing Set

We'll train our models on data prior to 2016, and then we'll use data from 2016 onward for testing.  So let's separate out these two subsets of data.

In [ ]:
df_train = df_data.query('trade_date < "2016-01-01"')
df_train

,googl,ibm,msft,dia,spy,vix,dexjpus,dexusuk,msft_lag_0,msft_lag_1
trade_date,,,,,,,,,,
2005-01-05,-0.005090,-0.002068,-0.002235,-0.005550,-0.006900,0.110001,-0.003069,0.002177,-0.002235,0.003739
2005-01-06,-0.025632,-0.003109,-0.001120,0.003121,0.005084,-0.510000,0.008850,-0.006570,-0.001120,-0.002235
2005-01-07,0.028109,-0.004366,-0.002990,-0.001886,-0.001434,-0.090000,0.000572,-0.002613,-0.002990,-0.001120
2005-01-10,0.006242,-0.001044,0.004874,0.003402,0.004728,-0.260000,-0.005813,0.002620,0.004874,-0.002990
2005-01-11,-0.007793,-0.007107,-0.002612,-0.006404,-0.006891,-0.040000,-0.008627,0.002400,-0.002612,0.004874
...,...,...,...,...,...,...,...,...,...,...
2015-12-24,-0.003474,-0.002093,-0.002687,-0.003356,-0.001650,0.170000,-0.005127,0.005382,-0.002687,0.008491
2015-12-28,0.021414,-0.004629,0.005030,-0.001370,-0.002285,1.170000,-0.000166,-0.004015,0.005030,-0.002687
2015-12-29,0.014983,0.015769,0.010724,0.011430,0.010672,-0.830000,0.001164,-0.005980,0.010724,0.005030
2015-12-30,-0.004610,-0.003148,-0.004244,-0.006667,-0.007088,1.210001,0.001328,0.002569,-0.004244,0.010724
2015-12-31,-0.015551,-0.012344,-0.014740,-0.010296,-0.010003,0.919998,-0.002736,-0.005798,-0.014740,-0.004244

In [ ]:
df_test = df_data.query('trade_date > "2016-01-01"')
df_test

,googl,ibm,msft,dia,spy,vix,dexjpus,dexusuk,msft_lag_0,msft_lag_1
trade_date,,,,,,,,,,
2016-01-04,-0.023869,-0.012135,-0.012256,-0.015518,-0.013980,2.490002,-0.008065,-0.004069,-0.012256,-0.014740
2016-01-05,0.002752,-0.000736,0.004562,0.000584,0.001692,-1.360001,-0.002934,-0.001498,0.004562,-0.012256
2016-01-06,-0.002889,-0.005005,-0.018165,-0.014294,-0.012614,1.250000,-0.003447,-0.002591,-0.018165,0.004562
2016-01-07,-0.024140,-0.017090,-0.034782,-0.023559,-0.023992,4.400000,-0.004555,-0.003213,-0.034782,-0.018165
2016-01-08,-0.013617,-0.009258,0.003067,-0.010427,-0.010976,2.020000,-0.002203,-0.003841,0.003067,-0.034782
...,...,...,...,...,...,...,...,...,...,...
2021-07-26,0.007668,0.010117,-0.002140,0.002396,0.002455,0.379999,-0.001900,0.005819,-0.002140,0.012337
2021-07-27,-0.015929,-0.000140,-0.008684,-0.002248,-0.004558,1.780001,-0.006074,0.003977,-0.008684,-0.002140
2021-07-28,0.031797,-0.006865,-0.001117,-0.003594,-0.000410,-1.050001,0.003831,0.000000,-0.001117,-0.008684
2021-07-29,-0.002326,0.001129,0.000978,0.004179,0.004147,-0.609999,-0.004816,0.005906,0.000978,-0.001117
2021-07-30,-0.007741,-0.006834,-0.005549,-0.003819,-0.004856,0.539999,0.001552,-0.003795,-0.005549,0.000978

## Training Linear Regression and K-Nearest Neighbors

In order to train our model, we first put our training features into `X_train` and our training labels into `y_train`

In [ ]:
X_train = df_train.drop(columns=['msft'])[0:len(df_train)-1]
X_train

,googl,ibm,dia,spy,vix,dexjpus,dexusuk,msft_lag_0,msft_lag_1
trade_date,,,,,,,,,
2005-01-05,-0.005090,-0.002068,-0.005550,-0.006900,0.110001,-0.003069,0.002177,-0.002235,0.003739
2005-01-06,-0.025632,-0.003109,0.003121,0.005084,-0.510000,0.008850,-0.006570,-0.001120,-0.002235
2005-01-07,0.028109,-0.004366,-0.001886,-0.001434,-0.090000,0.000572,-0.002613,-0.002990,-0.001120
2005-01-10,0.006242,-0.001044,0.003402,0.004728,-0.260000,-0.005813,0.002620,0.004874,-0.002990
2005-01-11,-0.007793,-0.007107,-0.006404,-0.006891,-0.040000,-0.008627,0.002400,-0.002612,0.004874
...,...,...,...,...,...,...,...,...,...
2015-12-23,0.001799,0.004423,0.010344,0.012383,-1.030001,0.000000,0.003511,0.008491,0.009484
2015-12-24,-0.003474,-0.002093,-0.003356,-0.001650,0.170000,-0.005127,0.005382,-0.002687,0.008491
2015-12-28,0.021414,-0.004629,-0.001370,-0.002285,1.170000,-0.000166,-0.004015,0.005030,-0.002687
2015-12-29,0.014983,0.015769,0.011430,0.010672,-0.830000,0.001164,-0.005980,0.010724,0.005030
2015-12-30,-0.004610,-0.003148,-0.006667,-0.007088,1.210001,0.001328,0.002569,-0.004244,0.010724

Notice that the label we are predicting is the *next* day `msft` return; the features we are using to predict are the *current* day returns of the various correlated assets.

In [ ]:
y_train = df_train[['msft']][1:len(df_train)]
y_train

                msft
trade_date
2005-01-06 -0.001120
2005-01-07 -0.002990
2005-01-10  0.004874
2005-01-11 -0.002612
2005-01-12  0.001870
...              ...
2015-12-24 -0.002687
2015-12-28  0.005030
2015-12-29  0.010724
2015-12-30 -0.004244
2015-12-31 -0.014740

[2744 rows x 1 columns]

### Linear Regression

Let's first fit a simple linear regression to our training data.

In [ ]:
from sklearn.linear_model import LinearRegression
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

LinearRegression()

Recall that the `.score()` of a `LinearRegression` gives the $R^2$.

In [ ]:
linear_regression.score(X_train, y_train)

0.017817678886197896

We can also examine the coefficients of our model.

In [ ]:
np.round(linear_regression.coef_, 3)

array([[ 0.004, -0.027,  0.288, -0.432,  0.   ,  0.105, -0.006,  0.031,
        -0.027]])

### KNN

Next, let's fit a KNN to our model.  As you can see, the in-sample $R^2$ is higher for KNN over Linear Regression.

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)
knn.score(X_train, y_train)

0.10833741669884545

#### Mean-Squared Error

Another goodness-of-fit metric is the mean squared error.  As you can see the models are close on this metric.

In [ ]:
sklearn.metrics.mean_squared_error(y_train, linear_regression.predict(X_train))

0.0002835387032450793

In [ ]:
sklearn.metrics.mean_squared_error(y_train, knn.predict(X_train))

0.00025740725236702097

## Testing Linear Regression and K-Nearest Neighbors

Let's now test the model with the data after 2016.

In [ ]:
X_test = df_test.drop(columns=['msft'])[0:len(df_test)-1]
X_test

,googl,ibm,dia,spy,vix,dexjpus,dexusuk,msft_lag_0,msft_lag_1
trade_date,,,,,,,,,
2016-01-04,-0.023869,-0.012135,-0.015518,-0.013980,2.490002,-0.008065,-0.004069,-0.012256,-0.014740
2016-01-05,0.002752,-0.000736,0.000584,0.001692,-1.360001,-0.002934,-0.001498,0.004562,-0.012256
2016-01-06,-0.002889,-0.005005,-0.014294,-0.012614,1.250000,-0.003447,-0.002591,-0.018165,0.004562
2016-01-07,-0.024140,-0.017090,-0.023559,-0.023992,4.400000,-0.004555,-0.003213,-0.034782,-0.018165
2016-01-08,-0.013617,-0.009258,-0.010427,-0.010976,2.020000,-0.002203,-0.003841,0.003067,-0.034782
...,...,...,...,...,...,...,...,...,...
2021-07-23,0.035769,0.004477,0.006633,0.010288,-0.490000,0.003815,-0.000073,0.012337,0.016845
2021-07-26,0.007668,0.010117,0.002396,0.002455,0.379999,-0.001900,0.005819,-0.002140,0.012337
2021-07-27,-0.015929,-0.000140,-0.002248,-0.004558,1.780001,-0.006074,0.003977,-0.008684,-0.002140
2021-07-28,0.031797,-0.006865,-0.003594,-0.000410,-1.050001,0.003831,0.000000,-0.001117,-0.008684
2021-07-29,-0.002326,0.001129,0.004179,0.004147,-0.609999,-0.004816,0.005906,0.000978,-0.001117

In [ ]:
y_test = df_test[['msft']][1:len(df_test)]
y_test

                msft
trade_date
2016-01-05  0.004562
2016-01-06 -0.018165
2016-01-07 -0.034782
2016-01-08  0.003067
2016-01-11 -0.000573
...              ...
2021-07-26 -0.002140
2021-07-27 -0.008684
2021-07-28 -0.001117
2021-07-29  0.000978
2021-07-30 -0.005549

[1386 rows x 1 columns]

In terms of $R^2$, the `LinearRegression` performs better than KNN on the testing data.

In [ ]:
linear_regression.score(X_test, y_test)

0.027206970357722238

In [ ]:
knn.score(X_test, y_test)

0.008540678618186859

On the testing data, the models are again quite similar from an mean squared error perspective.

In [ ]:
sklearn.metrics.mean_squared_error(y_test, linear_regression.predict(X_test))

0.00028311321268821647

In [ ]:
sklearn.metrics.mean_squared_error(y_test, knn.predict(X_test))

0.00028854568769813577

## Neural Network

Let's now fit our first neural network.  We begin by importing some addition packages and functions.

In [ ]:
import random
import tensorflow as tf
from keras.layers import Dense
from keras.models import Sequential
from keras.optimizers import Adam

2023-09-02 09:27:09.434767: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-09-02 09:27:09.482296: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-09-02 09:27:09.483301: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-02 09:27:10.202041: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In order to make our results reproducible, we'll use the following user defined function to set the various seeds for random number generation (this doesn't seem to fully work for some reason, although in previous chapters it seems to work, I'm not sure what the difference is).

In [ ]:
def set_seeds(seed=100):
    random.seed(seed)
    np.random.seed(seed)
    tf.random.set_seed(seed)

In [ ]:
set_seeds()

Now we can build and compile our model.

In [ ]:
model = Sequential()
model.add(Dense(units=128, input_dim=len(X_train.columns), activation='relu'))
model.add(Dense(units=128, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

Let's fit our model.

In [ ]:
%%time
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=0);

CPU times: user 5.83 s, sys: 211 ms, total: 6.04 s
Wall time: 4.09 s

As we can see from our two metrics, this baseline neural network performs better than `LinearRegression` and k-nearest neighbors.

In [ ]:
sklearn.metrics.r2_score(y_test, model.predict(X_test))

44/44 [==============================] - 0s 1ms/step

0.09966924824345269

In [ ]:
sklearn.metrics.mean_squared_error(y_test, model.predict(X_test))

44/44 [==============================] - 0s 856us/step

0.00026202442230237316

## Normalization

Next, let's normalize our data and refit.

In [ ]:
mu = X_train.mean()
std = X_train.std()

In [ ]:
X_train_scaled = (X_train - mu) / std
X_test_scaled = (X_test - mu) / std

In [ ]:
set_seeds()

In [ ]:
model = Sequential()
model.add(Dense(units=128, input_dim=len(X_train_scaled.columns), activation='relu'))
model.add(Dense(units=128, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

In [ ]:
%%time
model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, verbose=0);

CPU times: user 5.63 s, sys: 213 ms, total: 5.84 s
Wall time: 3.88 s

This seems to have a drastically negative impact on model performance.  So we won't use normalization as we proceed.

In [ ]:
sklearn.metrics.r2_score(y_test, model.predict(X_test_scaled))

44/44 [==============================] - 0s 875us/step

-0.55854923530846

In [ ]:
sklearn.metrics.mean_squared_error(y_test, model.predict(X_test_scaled))

44/44 [==============================] - 0s 939us/step

0.0004535865982748655

## Dropout

In this section, we perform dropout regularization.

In [ ]:
from keras.layers import Dropout

In [ ]:
set_seeds()

In [ ]:
model = Sequential()
model.add(Dense(units=128, input_dim=len(X_train.columns), activation='relu'))
model.add(Dropout(rate=0.3, seed=100))
model.add(Dense(units=128, activation='relu'))
model.add(Dropout(rate=0.3, seed=100))
model.add(Dense(1))
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

In [ ]:
%%time
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=0);

CPU times: user 6.33 s, sys: 320 ms, total: 6.65 s
Wall time: 4.44 s

With dropout regularization, the model performs poorly relative to linear regression, nearest neighbors, and the baseline neural network.

In [ ]:
sklearn.metrics.r2_score(y_test, model.predict(X_test))

44/44 [==============================] - 0s 926us/step

0.006088222751992722

In [ ]:
sklearn.metrics.mean_squared_error(y_test, model.predict(X_test))

44/44 [==============================] - 0s 942us/step

0.0002892594290985132

## Regularization

Now let's try `l2` (ridge) regularization.

In [ ]:
from keras.regularizers import l2

In [ ]:
set_seeds()

In [ ]:
model = Sequential()
model.add(Dense(units=128, input_dim=len(X_train.columns), activation='relu', activity_regularizer=l2(0.0005)))
model.add(Dense(units=128, activation='relu', activity_regularizer=l2(0.0005)))
model.add(Dense(1))
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

In [ ]:
%%time
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=0);

CPU times: user 6.06 s, sys: 307 ms, total: 6.36 s
Wall time: 4.04 s

Using `l2` doesn't improve the model compared to linear regression, nearest neighbors, and the baseline linear regression.

In [ ]:
sklearn.metrics.r2_score(y_test, model.predict(X_test))

44/44 [==============================] - 0s 860us/step

0.07948509431099182

In [ ]:
sklearn.metrics.mean_squared_error(y_test, model.predict(X_test))

44/44 [==============================] - 0s 927us/step

0.00026789864270803726

## Classification

Finally, let's recast this as a classification problem where we are simply trying to predict gains and losses.  First we have to change our labels to binary outcomes.

In [ ]:
y_train_classification = np.where(y_train['msft'] > 0, 1, 0)
y_test_classification = np.where(y_test['msft'] > 0, 1, 0)

In [ ]:
set_seeds()

In [ ]:
model = Sequential()
model.add(Dense(units=128, input_dim=len(X_train.columns), activation='relu'))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
%%time
model.fit(X_train, y_train_classification, epochs=50, batch_size=32, verbose=0);

CPU times: user 6.03 s, sys: 297 ms, total: 6.33 s
Wall time: 4.19 s

The binary classification is right about 50% of the time..

In [ ]:
model.evaluate(X_test, y_test_classification)

44/44 [==============================] - 0s 2ms/step - loss: 0.6899 - accuracy: 0.5036

[0.689908504486084, 0.5036075115203857]

Guessing that MSFT will rise everyday is right 55% of the time.

In [ ]:
y_test_classification.mean()

0.5526695526695526